body {
  font-family: "Noto Sans JP";
  background-color: #fff;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 50px auto;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 32px;
  color: #e4007f;
}

img {
  box-shadow: 5px 5px 5px #ccc;
}
