.top-wrapper {
    padding: 200px 0 200px 0;
    background-image: url('../background.JPG');
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 50px;
    width: 100%;
    position: relative;
}